/*-- scss:defaults --*/
  
  
/*-- scss:rules --*/
  
// styling of images
  .img-fluid {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

// figure-specific layout styling (of text)
.figure {
  text-align: center;
  font-weight: 400;
}

// for layout of team images
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

// id that doesn't seem to work
#fishImg {
  max-width: 200px;
  height: auto;
  text-align: center;
  font-weight: 400;
}

// no longer being used
.border {
  border-radius: 10%;
  border-width: 2px !important;
  border-color: black !important;
  padding: 5px;
  background-color: #f9f9f9;
};

// cards to store content
.card {
  margin: 0 auto;
  padding: 2em;
  background: #f9f9f9;
  text-align: center;
  border-radius: 10px;
  border-width: 2px !important;
  border-color: black !important;
  padding: 5px;
  position: relative;
}

// to create illuminated border around cards
.card::after, .card::before {
  content: "";
  position: absolute;
  height: 105%;
  width: 103%;
  background: red;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  background-image: conic-gradient(#75caeb, #20c997, #75caeb);
}

// adding blur behind cards
.card::before {
  filter: blur(1rem);
  opacity: 0.5;
}