/*-- scss:defaults --*/
  
  
/*-- scss:rules --*/
  
// styling of images
  .img-fluid-team {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

// figure-specific layout styling (of text)
.figure {
  text-align: left;
  font-weight: 400;
}

// for layout of team images
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

// id that doesn't seem to work
#fishImg {
  max-width: 200px;
  height: auto;
  text-align: center;
  font-weight: 400;
}

// no longer being used
.border {
  border-radius: 10%;
  border-width: 2px !important;
  border-color: black !important;
  padding: 5px;
  background-color: #f9f9f9;
};

// cards to store content
.card {
  margin: 0 auto;
  padding: 2em;
  background: #f9f9f9;
  text-align: center;
  border-radius: 10px;
  border-width: 2px !important;
  border-color: black !important;
  padding: 5px;
  position: relative;
}

// to create illuminated border around cards
.card::after, .card::before {
  content: "";
  position: absolute;
  height: 105%;
  width: 103%;
  background: red;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  background-image: conic-gradient(#75caeb, #20c997, #75caeb);
}

// adding blur behind cards
.card::before {
  filter: blur(1rem);
  opacity: 0.5;
}

// hero header for top of page
.hero {
  background-image: url(https://images.unsplash.com/photo-1516031636401-f728d11b5014?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position-y: center;
  height: 200px;
}


// for listing of publications, presentations, and reports
.research {
    .back-nav a {
        color: shift-color($red, -50%);
    }
    
    .quarto-title .quarto-categories .quarto-category {
        background-color: shift-color($red, -75%);
        color: $red;
        font-size: 0.65em;
        opacity: 1;
    }

    .project-categories {
        display: flex;
        flex-wrap: wrap;
        margin: 0.35em 0 0.35em;
        padding-top: 0.35em;
        padding-left: 0.5em;
        padding-bottom: 0;
        row-gap: 0.4em;
        column-gap: 0.4em;
        font-family: $headings-font-family;

        .project-category {
            padding: 0.25em 0.75em 0.25em 0em;
            font-size: 0.7em;
            text-transform: uppercase;
        }
    }
}


.project-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 2em;

        li.project {
            margin-bottom: 2.5em;
            border-left: 6px solid shift-color($red, -90%);

            p {
                margin: 0;
            }
        }
    }

    .project-content {
        padding-left: 0.5em;

        .status {
            font-size: 1rem;
            font-weight: 250;
            padding: 0.2em;
            margin-right: 0.5em;
        }
    }
    
    ul.project-links {
        margin-bottom: 0;
    }

    .project-details-listing {
        margin-top: 0.8em;
        background-color: shift-color($red, -90%);
        font-size: 0.9rem;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }

        .project-link {
            display: inline-block;
            white-space: nowrap;
            padding: 0.5em 0.5em 0.5em 1em;
        }

        .details {
            background-color: $red;
            padding-right: 1.5em;

            a {
                color: #FFFFFF;
            }
        }
    }
}